# Prerequisites
*.d

# Object files
*.o
*.elf
*.bin
*.pyc

# Linker output
*.map

# Libraries
*.lib
*.a

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# KiCAD stuff
fp-info-cache
*-cache.lib
*.net
*.kicad_pcb-bak
*.sch-bak
*.drl
*.gbr
*.gbrjob
Gerbers
*.zip
